:root{
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navyBlue: #2E2F42;
    --green: #31D0AA;
    --slate: #434455;
    --lightSlate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --navyBlueModal: #2E2F42;
    --grey: #2E2F42;
    --white: #FFFFFF;
    --dairy: #FCFCFC;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.ttf");
}
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/Roboto-Regular.ttf");
}