*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    font-family: "Raleway";
    font-size: 18px;
    color: var(--navyBlue);
    text-decoration: none;
}
.logo span{
    color: var(--iris);
}

.header_01{
    font-family: "RobotoBold";
    font-size: 56px;
    letter-spacing: 2%;
    line-height: 60px;
}
.header_02{
    font-family: "RobotoBold";
    font-size: 36px;
    letter-spacing: 2%;
}
.header_03{
    font-family: "RobotoMedium";
    font-size: 20px;
    letter-spacing: 2%;
}
.body{
    font-family: "RobotoRegular";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
}
.smallText{
    font-family: "RobotoRegular";
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 4%;
}
.bodyMedium{
    font-family: "RobotoMedium";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
}
.buttonText{
    font-family: "RobotoMedium";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
}
.linkText{
    font-family: "RobotoRegular";
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 4%;
    text-decoration: underline;
}

header{
    display: flex;
    flex: 2;
    padding: 24px 0 24px 0;
    background-color: var(--white);
    justify-content: center;
    column-gap: 5.28%;
    column-gap: 23.06%;
}
header ul{
    list-style: none;
    display: flex;
    column-gap: 15.33%;
}
header ul a{
    color: var(--navyBlue);
    text-decoration: none;
}
address a{
    text-decoration: none;
    color: var(--slate);
    font-style: normal;
}